body {
    display: block;
}

.top-line {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #ffffff;
}

.webstudio {
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
text-decoration: none;
color: #2196F3;
}
.agency {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.portfolio {
position: absolute;
width: 58px;
height: 16px;
left: 552px;
top: 32px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #2196F3;

}

.contact{
    position: absolute;
    width: 58px;
    height: 16px;
    left: 656px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
}

.info {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}

.tel {
    position: absolute;
    width: 110px;
    height: 16px;
    left: 1263px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}

.all {
    position: absolute;
width: 121px;
height: 38px;
left: 510px;
top: 174px;
border-color: #2196F3;
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
cursor: pointer;
}

.all-span {
    /* position: absolute;  */
    width: 77px;
    height: 26px;
    left: 532px;
    top: 180px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF; 
}

.pages {
    position: absolute;
width: 93px;
height: 38px;
left: 639px;
top: 174px;
border-color: #F5F4FA;
background: #F5F4FA;
border-radius: 4px;
}

.pages-span {
    /* position: absolute; */
width: 49px;
height: 26px;
left: 661px;
top: 180px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.aplication {
    position: absolute;
    width: 114px;
    height: 38px;
    left: 740px;
    top: 174px;
    border-color: #F5F4FA;
    background: #F5F4FA;
    border-radius: 4px;
}

.aplication-span {
    /* position: absolute; */
    width: 70px;
    height: 26px;
    left: 762px;
    top: 180px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.design {
    position: absolute;
    width: 91px;
    height: 38px;
    left: 862px;
    top: 174px;
    border-color: #F5F4FA;
    background: #F5F4FA;
    border-radius: 4px;
}

.design-span {
    /* position: absolute; */
    width: 47px;
    height: 26px;
    left: 884px;
    top: 180px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}

.marketing {
    position: absolute;
    width: 121px;
    height: 38px;
    left: 961px;
    top: 174px;
    border-color:#F5F4FA;
    background: #F5F4FA;
    border-radius: 4px;
}
.marketing-span {
    /* position: absolute; */
    width: 77px;
    height: 26px;
    left: 983px;
    top: 180px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}

.footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    
    background: #2F303A;
}

.webstudio-footer {
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 1688px;
text-decoration: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
}

.adress {
    position: absolute;
width: 247px;
height: 21px;
left: 215px;
top: 1739px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;

}

.mail {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 1769px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px; 
/* /* or 171% */

letter-spacing: 0.03em;
text-decoration-line: underline;

color: rgba(255, 255, 255, 0.6);
} 

.tel {
 position: absolute; 
 width: 231px; 
height: 21px;
left: 215px;
top: 1799px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px; 
/* or 171% */
/* display: block; */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6); 
}

.studio {
font-family: 'Oleo Script', cursive;
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 36px;
letter-spacing: 0.03em;

color: #000000;
}

.line {
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 80px;
    border: 1px solid #ececec;
}

.technocrack-container {
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    background: #ffffff;
    border: 1px solid #eeeeee;
}

.technocrack-caption-1 {
    position: absolute;
    display: inline;
    width: 322px;
    height: 36px;
    left: 29px;
    top: 296px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.technocrack-caption-2 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 29px;
    top: 336px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

ul {
    list-style: none;
}

.neworlean {
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.neworlean-cap1 {
    position: absolute;
width: 322px;
height: 36px;
left: 29px;
top: 296px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}

.neworlean-cap2 {
    position: absolute;
width: 322px;
height: 30px;
left: 29px;
top: 336px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}
.seafood{
    box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 262px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.seafood-cap1 {
    position: absolute;
width: 322px;
height: 36px;
left: 29px;
top: 296px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
}

.seafood-cap2 {
    position: absolute;
width: 322px;
height: 30px;
left: 29px;
top: 336px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}
.prime {
    box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 696px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.prime-cap1 {
    position: absolute;
width: 322px;
height: 36px;
left: 29px;
top: 296px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
}

.prime-cap2 {
    position: absolute;
width: 322px;
height: 30px;
left: 29px;
top: 336px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;

}

.boxes{
    box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 696px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
}
.boxes-cap1{
    position: absolute;
width: 322px;
height: 36px;
left: 29px;
top: 296px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}
.boxes-cap2{
    position: absolute;
width: 322px;
height: 30px;
left: 29px;
top: 336px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;

}
.inspiration {
    box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 696px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.inspiration-cap1 {
    position: absolute;
width: 322px;
height: 36px;
left: 29px;
top: 296px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}

.inspiration-cap2 {
    position: absolute;
width: 322px;
height: 30px;
left: 29px;
top: 336px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
}